.abtcont{
    width:100%;
    margin-top: 186px;
    background-color: #f7f8fb; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.abtcontent{
    margin-top: 107px;
    width: 474px;
    height: 190px;
}
.abtimg{
    width: 384px;
    height: 468px;
}
.abttitle{
    font-size: 45px;
    line-height: 27px;
    font-weight: 600;
    color: #0e2368;
    font-family: 'Poppins';
}

.abttext{
    margin-top: 26px;
    text-align: left;
}

.abtbtn{
    margin-top: 25px;
    border-radius: 21px;
    background-color: #E23744;
    height: 42px;
    width: 132px;
    border: 0px solid;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    color:white;
  }

@media screen and (max-width: 600px) {
    .abtcont{
        margin-top: 0;
        width: 375px;
        height:516px
    }
    .abtimg{
        display: none;
    }
    .abttitle{
        font-size: 26px;
        margin-top: 0px;
        text-align: center;
    }
    .abttext{
        font-size: 11px;
        margin-top: 20px;
        text-align: center;
    }
    .abtcontent{
        width: 275px;
        height: 138px;
    }
    .abtbtn{
        width: 96px;
        height: 25px;
        margin-left: 85px;
        font-size: 11px;
    }
  }